body{
    /*background-color: #51c78d;*/
    /*background-image: url("../images/d-v.jpg"), url("../images/b-s.jpg");*/
    background-repeat: no-repeat; /*repeat-x, repeat-y, repeat (default), no-repeat*/
    background-position: left top, right top;
    /*background-size: 250px 250px, 150px;*/
    /*background-image: linear-gradient(0deg, #e59719, transparent), url("../images/d-v.jpg");*/
    background-image: radial-gradient(#e59719, indianred);
    margin: 0;
}
.block{
    background-color: #fff;
    width: 500px;
    height: 150px;
    /*margin-top: 25px;*/
    /*margin-left: 25px;*/
    /*margin-bottom: 25px;*/
    /*margin-right: 25px;*/
    /*margin: 20px 30px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: 15px auto;
    /*margin-top: 20px;*/
    /*margin-left: 20px;*/
    padding: 1rem 2rem;
    box-sizing: border-box;
}